.cuzvZW {
    background-color: white !important;
    padding: 0px !important;
}

.eiZYwg {
    flex: 3;
    margin-left: 0px !important;
    padding: 0px !important;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: none !important;
}
